h5 {background-color: 	#ffe6e6;
   font-size:14px ; 
   color: #ffffff; 
   color: black;
   text-decoration: none;
   display: inline-block;
   width: 350px;
	margin: 0 auto;
	overflow: auto;
	border: 2px solid #adadff;
	padding: 4px;
	text-align: justify;
	background: #ffe6e6;}